<div class="container">

<h5>Event Name : {{event.name}}</h5>
<h5>Organizer : {{event._owner.username}}</h5>
<h5>Location : {{event.location}}</h5>
<h5>Date : {{event.date}}</h5>
<h5>Description : {{event.description}}</h5>
<a href="/events">Return</a>
<br>
<br>
<a href="/events/{{event._id}}/join">Join</a>


<h5>Participants : </h5>
{{#if event._participants}}
<ul>
    {{#each event._participants}}
    <li>{{username}}</li>
    {{/each}}
</ul>
{{/if}}

<h5>Comments :</h5>
{{#if event.comments}}
<ul>
    {{#each event.comments }}
    <li>{{text}}</li>
    <li>{{_author.username}}</li>
    <li>{{createdAt}}</li>
    <br>
    {{/each}}
</ul>
{{/if}}

<form action="/events/{{event._id}}/comment" method="POST">
<textarea id="comments" name="text" rows="4" cols="50"></textarea>
<button type="submit">Comment</button>
</form>
</div>

 