

<h5>Event Name : {{event.name}}</h5>
<h5>Host : {{event._author}}</h5>
<h5>Location : {{event.location}}</h5>
<h5>Date : {{event.date}}</h5>
<h5>Description : {{event.description}}</h5>
<a href="/events">Return</a>
<br>
<br>
<a href="/events/{{event._id}}/join">Join</a>


<h5>Participants : </h5>
{{#if event._participants}}
<ul>
    {{#each event._participants}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}


<textarea rows="4" cols="50"></textarea>
<button type="submit">Comment</button>