<h3>
    Event Name:
</h3>{{eventName}}
<br>

<h3>
    Location :
</h3>{{location}}
<br>

<h3>
    Date :
</h3>{{date}}
<br>

<h3>
    Time :
</h3>{{time}}
<br>

<h3>
    Description :
</h3>{{description}}
<br>
