
<h1>Edit {{name}}</h1>
<form action="/events/{{this._id}}" method="POST">

  <label for="Event Name">Event Name :</label>
  <input id ="Event Name" type="text" name="name" placeholder="add a short,clear name" value="{{name}}">

  

  <label for="Location">Location :</label>
  <input id="Location" type="text" name="location" placeholder="include an address" value="{{location}}">

 

  <label for="Date">Date :</label>
  <input id="Date" type="date" name="date" placeholder="" value="{{date}}">

 

  {{!-- <label for="Time">Time :</label>
  <input id="Time" type="time" name="time" placeholder="" value="{{> --}}


 

 <label for="Description">Description :</label>
 <textarea rows="4" cols="50" name="description" value="{{description}}">

</textarea>

  {{!-- <label for="Description">Description :</label>
  <input id="Description" type="description" name="description" placeholder="tell people more about the event"> --}}
 <p>Yes!!! You can invite your friends too :)</p>

 
<button type="submit">Update</button>

</form>