
<h3><span>Events</span></h3>
<br><br>


<div class="container mx-auto event-card">
<div class="row event-row">
     {{#each events}}
    
  <div class="col-4">
    <div class="card  mb-3 text-center">
      <div class="card-body">
        <h5 class="card-title"><a href="/events/{{this._id}}">{{this.name}}</a></h5>
        <p class="card-text">{{this.description}}</p>
        <a href="/events/{{this._id}}/edit" class="btn btn-success">Edit</a>
        <a href="/events/{{this._id}}/delete" class="btn btn-success">Delete</a>
        
     </div>
    </div>
  
  </div>
  {{/each}}
  </div>
    
</div>